
.f-app .f-custom-section-1721368777QgFY0 {letter-spacing: 0px; opacity: 1; margin: 0px; padding: 4% 4% 0px;}
.f-app .f-content-tabs-1721368777ZhQ9E {letter-spacing: 0px; margin: 0px 4% 8%;}.f-app .f-content-tabs-1721368777ZhQ9E .f\:tabs__button {font-family: BrownProTT-Regular-1707112782cX7wj; font-size: 12px;}@media screen and (max-width: 767px) {.f-app .f-content-tabs-1721368777ZhQ9E {margin: 0% 0px 0px;}}
.f-app .f-grid-1721368777J8Im8 {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1721368777WSBIz {gap: 30px; letter-spacing: 0px; opacity: 1; margin: 2%;}
.f-app .f-col-1721368777VwFVy {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: space-between; display: flex;}
.f-app .f-col-1721368777K4fVy {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-end; justify-content: flex-start; display: flex; row-gap: 0px;}@media screen and (max-width: 767px) {.f-app .f-col-1721368777K4fVy {flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex;}}
.f-app .f-richtext-1721368777n8Dqq {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1721368777Du6iC {letter-spacing: 0px; opacity: 1; font-family: BrownProTT-Bold-17071127825LR9n;}
.f-app .f-image-1721368777Sgh37 {letter-spacing: 0px; opacity: 1; width: 40px; height: 40.125px;}
.f-app .f-image-1721368777j0CN5 {letter-spacing: 0px; opacity: 0; width: 40px; height: 40.125px;}
.f-app .f-richtext-1721368777Dvl3V {letter-spacing: 0px; opacity: 1; text-align: right;}@media screen and (max-width: 767px) {.f-app .f-richtext-1721368777Dvl3V {text-align: left;}}
.f-app .f-col-1721368777w4QO6 {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex; column-gap: 20px;}
.f-app .f-button-1721368777G55AZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721368777Mpsts {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721368777t7x5p {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721368777hOsLx {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721380828J7AbN {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721380828YdhbO {letter-spacing: 0px; opacity: 1;}
.f-app .f-content-tab-1721368777ILsmM {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1721368777sgLfH {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777sgLfH {gap: 0px;}}
.f-app .f-grid-1721368777CxCZa {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 4% 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777CxCZa {gap: 0px;}}
.f-app .f-image-1721368777PT6CF {letter-spacing: 0px; opacity: 1; padding-left: 8%; padding-right: 8%;}
.f-app .f-grid-1721368777h5eQk {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 4% 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777h5eQk {gap: 10px;}}
.f-app .f-custom-code-1721368777c2CDU {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721368777Rlg0z {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777Rlg0z {gap: 0px;}}
.f-app .f-grid-1721368777o1MZy {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777o1MZy {gap: 0px;}}
.f-app .f-grid-1721368777zCGYK {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777zCGYK {gap: 0px;}}
.f-app .f-grid-1721368777wDtti {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777wDtti {gap: 0px;}}
.f-app .f-grid-1721368777bmF26 {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 0px 8% 0%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777bmF26 {gap: 0px;}}
.f-app .f-grid-1721368777xWoq7 {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721368777xWoq7 {gap: 0px;}}
.f-app .f-col-1721368777nqFCA {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777DA6I1 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777aoPPK {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721368777X7agH {letter-spacing: 0px; opacity: 1; text-align: left;}
.f-app .f-custom-code-1721368777IJIrw {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-17213687771f4gd {letter-spacing: 0px; opacity: 1; text-align: right;}
.f-app .f-col-1721368777shiwZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777HaYlU {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721368777CbSxP {letter-spacing: 0px; opacity: 1; text-transform: uppercase; line-height: 120%;}
.f-app .f-richtext-17213687770ydqH {letter-spacing: 0px; opacity: 1; padding-bottom: 0px;}
.f-app .f-icon-1721368777twask {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721368777yqFLX {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777Xmwnl {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777aLmJX {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777NrjRZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777xmvwd {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721368777PUQAC {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721368777Gefzw {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721368777DXyIP {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721368777EFhV3 {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-17213687778qxOt {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-col-1721368777exfP9 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721368777OQmK0 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213687773dWZT {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721368777yqJhO {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721368777QBX4P {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721368777UeNeP {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721368777QuoYG {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721368777GLzJE {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777jWDFE {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721368777PJkZZ {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-heading-1721368777ZjfGe {letter-spacing: 0px; opacity: 1; font-family: "Nothing You Could Do"; font-weight: 400; text-transform: lowercase; font-size: 2vw; line-height: 36px;}
.f-app .f-icon-1721368777D97x6 {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721368777OT0eR {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721368777Edy6c {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213687774rEMv {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721368777Mf18k {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721368777pcigl {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721368777fyM33 {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721368777d66sW {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721368777vLpx4 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-172136877782DWd {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721368777YBauD {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721368777o65Ds {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721368777XO5kv {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721368777U1gjB {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-172136877729kYQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777WivmU {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-richtext-1721368777Lbds2 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777ubE7q {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777PiBwN {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721368777OGOUN {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721368777X7pGd {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-17213687778Mn1D {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-1721368777CdQEE {letter-spacing: 0px; opacity: 1; text-align: right;}