
.f-app .f-text-section-17327011606uXvO {padding-top: 40px; padding-bottom: 5px; letter-spacing: 0px; opacity: 1; margin-bottom: 65px;}
.f-app .f-custom-section-1733823756QFRzg {letter-spacing: 0px; opacity: 1;}
.f-app .f-text-section-1733824107QrkEv {padding-top: 40px; padding-bottom: 50px; text-align: center; letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-section-1733824214GZgHf {letter-spacing: 0px; opacity: 1;}
.f-app .f-text-section-1733824346BXPQO {padding-top: 40px; padding-bottom: 5px; letter-spacing: 0px; opacity: 1; margin-bottom: 65px;}
.f-app .f-text-section-1733824487ihnvk {padding-top: 40px; padding-bottom: 50px; text-align: left; letter-spacing: 0px; opacity: 1; margin-bottom: 20px;}
.f-app .f-custom-section-1733824613mlH2q {letter-spacing: 0px; opacity: 1;}
.f-app .f-text-section-1733824788IE0jj {padding-top: 40px; padding-bottom: 50px; text-align: left; letter-spacing: 0px; opacity: 1; margin-bottom: 20px;}
.f-app .f-custom-section-1733824836Paxxi {letter-spacing: 0px; opacity: 1;}
.f-app .f-text-section-1733825126UX6FL {padding-top: 40px; padding-bottom: 50px; text-align: left; letter-spacing: 0px; opacity: 1; margin-bottom: 20px;}
.f-app .f-custom-section-1733825153NLWIM {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1732701160Op4vX {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-1732701160c81tz {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1732701160sVMC0 {letter-spacing: 0px; opacity: 1; font-family: BrownProTT-Regular-1707112782cX7wj; padding-bottom: 55px;}
.f-app .f-heading-1732701160Yu4fY {letter-spacing: 0px; opacity: 1; padding-bottom: 0px; font-family: BrownProTT-Bold-17071127825LR9n; text-align: center; margin-top: 51px;}
.f-app .f-richtext-1733823704rUlKq {letter-spacing: 0px; opacity: 1; padding-top: 0px; text-align: center;}
.f-app .f-grid-1733823756gmunc {gap: 30px; letter-spacing: 0px; opacity: 1; margin-top: 5px; padding-top: 5px;}
.f-app .f-grid-1733823928y1W0u {gap: 30px; letter-spacing: 0px; opacity: 1; margin-top: 60px;}
.f-app .f-col-1733823756Z3qK4 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733823756lDhfA {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1733823776zB1tT {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-17338238320n4CZ {letter-spacing: 0px; opacity: 1; text-align: center; margin-bottom: 12px;}
.f-app .f-richtext-17338237696gL5F {letter-spacing: 0px; opacity: 1; padding-bottom: 0px; text-align: center;}
.f-app .f-image-1733823783lAMrN {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1733823887JV1v1 {letter-spacing: 0px; opacity: 1; text-align: center; padding-bottom: 0px;}
.f-app .f-richtext-1733823788tJoyR {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-col-1733823928Tllfe {letter-spacing: 0px; opacity: 1; padding-bottom: 0px;}
.f-app .f-col-1733823928xRlNe {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1733823928zeYIZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1733823928HjZ07 {letter-spacing: 0px; opacity: 1; text-align: center; margin-bottom: 12px; padding-top: 0px;}
.f-app .f-richtext-1733823928J8RR6 {letter-spacing: 0px; opacity: 1; padding-bottom: 0px; text-align: center;}
.f-app .f-image-17338239289pgmG {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1733823928aRumQ {letter-spacing: 0px; opacity: 1; text-align: center; padding-bottom: 0px;}
.f-app .f-richtext-1733823928uqbbb {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-grid-1733824107cioZU {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-1733824107N4ibv {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1733824107wvsjy {letter-spacing: 0px; opacity: 1; padding-top: 0px; text-transform: uppercase;}
.f-app .f-grid-1733824214OsJbH {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733824214RTOKa {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733824241e1R6t {letter-spacing: 0px; opacity: 1; padding-bottom: 0px;}
.f-app .f-image-1733824224JLoSl {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1733824233UiaW0 {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-richtext-1733824237mCUj5 {letter-spacing: 0px; opacity: 1; padding-bottom: 0px; text-align: center;}
.f-app .f-image-1733824241MISpR {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1733824241FRfUE {letter-spacing: 0px; opacity: 1; padding-top: 0px; text-align: center;}
.f-app .f-richtext-1733824241fGlTG {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-grid-1733824346yCvj0 {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-1733824346e9DYZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1733824346So3po {letter-spacing: 0px; opacity: 1; padding-bottom: 0px; font-family: BrownProTT-Bold-17071127825LR9n; text-align: center; margin-top: 51px;}
.f-app .f-richtext-17338243468GX01 {letter-spacing: 0px; opacity: 1; padding-top: 0px; text-align: center; padding-bottom: 0px;}
.f-app .f-grid-1733824487Uatcw {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-1733824487vrh6a {letter-spacing: 0px; opacity: 1; margin-right: 0px;}
.f-app .f-heading-1733824487FE2RW {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1733824487ydjjl {letter-spacing: 0px; opacity: 1; padding-bottom: 0px;}
.f-app .f-grid-1733824613Kepkt {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733824613Okz3F {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733824613PAurX {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733824685y9svt {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1733824670fn5ct {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1733824681tfV1s {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1733824685h9jG4 {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1733824788pGySQ {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-1733824788G9LAx {letter-spacing: 0px; opacity: 1; margin-right: 0px;}
.f-app .f-heading-1733824788EQ0Kg {letter-spacing: 0px; opacity: 1; padding-top: 0px;}
.f-app .f-richtext-1733824788n6R3A {letter-spacing: 0px; opacity: 1; padding-bottom: 0px;}
.f-app .f-grid-1733824836t73aN {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733824836Bg62Q {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733824901PL9m2 {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1733824885qZa4o {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17338249017QnyU {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1733825126kWewI {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-17338251263XYWG {letter-spacing: 0px; opacity: 1; margin-right: 0px;}
.f-app .f-heading-1733825126jAWYx {letter-spacing: 0px; opacity: 1; padding-top: 0px;}
.f-app .f-richtext-1733825126qA76a {letter-spacing: 0px; opacity: 1; padding-bottom: 0px; padding-top: 0px;}
.f-app .f-grid-17338251531Sj46 {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733825153xgnfA {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1733825153HL84Z {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17338251539RaJ4 {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1733825153yZnTG {letter-spacing: 0px; opacity: 1;}