
.f-app .f-custom-section-1721369102gzVGD {letter-spacing: 0px; opacity: 1; margin: 0px; padding: 4% 4% 0px;}
.f-app .f-content-tabs-1721369102nZ5b2 {letter-spacing: 0px; margin: 0px 4% 8%;}.f-app .f-content-tabs-1721369102nZ5b2 .f\:tabs__button {font-family: BrownProTT-Regular-1707112782cX7wj; font-size: 12px;}@media screen and (max-width: 767px) {.f-app .f-content-tabs-1721369102nZ5b2 {margin: 0% 0px 0px;}}
.f-app .f-grid-1721369102sDHW1 {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1721369102qTGHa {gap: 30px; letter-spacing: 0px; opacity: 1; margin: 2%;}
.f-app .f-col-1721369102jbbXJ {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: space-between; display: flex;}
.f-app .f-col-1721369102KQm1W {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-end; justify-content: flex-start; display: flex; row-gap: 0px;}@media screen and (max-width: 767px) {.f-app .f-col-1721369102KQm1W {flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex;}}
.f-app .f-richtext-1721369102JprIh {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-17213691023AaTX {letter-spacing: 0px; opacity: 1; font-family: BrownProTT-Bold-17071127825LR9n;}
.f-app .f-image-1721369102Urmr8 {letter-spacing: 0px; opacity: 1; width: 40px; height: 40.125px;}
.f-app .f-image-1721369102Mysfd {letter-spacing: 0px; opacity: 0; width: 40px; height: 40.125px;}
.f-app .f-richtext-1721369102v1AVe {letter-spacing: 0px; opacity: 1; text-align: right;}@media screen and (max-width: 767px) {.f-app .f-richtext-1721369102v1AVe {text-align: left;}}
.f-app .f-col-17213691022V3si {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex; column-gap: 20px;}
.f-app .f-button-1721369102lAPGG {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721369102ODxnQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721369102S5bUN {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721369102y02pb {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-172138134578Fsw {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721381346vIcnU {letter-spacing: 0px; opacity: 1;}
.f-app .f-content-tab-1721369102OpONf {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-17213691020fETx {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-17213691020fETx {gap: 0px;}}
.f-app .f-grid-1721369102xORZe {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721369102xORZe {gap: 0px;}}
.f-app .f-grid-17213691023IKB5 {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 4% 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-17213691023IKB5 {gap: 10px;}}
.f-app .f-custom-code-1721369102rYV2e {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721369102E0uvm {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721369102E0uvm {gap: 0px;}}
.f-app .f-grid-1721369102NnnL0 {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102zPfE0 {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102uyhBz {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-custom-code-1721369102NMOM5 {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721369102x88fh {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721369102x88fh {gap: 0px;}}
.f-app .f-grid-1721369102wwyP5 {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102KHTaD {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102W874R {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-custom-code-1721369102FLQDP {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721369102ek1jZ {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721369102ek1jZ {gap: 0px;}}
.f-app .f-grid-1721369102mq0bZ {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102uEV2D {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102aF20V {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721369102aF20V {gap: 0px;}}
.f-app .f-grid-1721369102I3gag {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-custom-code-1721369102SGWj7 {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721369102jMTX0 {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721369102jMTX0 {gap: 0px;}}
.f-app .f-grid-1721369102Q0LCA {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102TxJ31 {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721369102FMxA8 {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721369102FMxA8 {gap: 0px;}}
.f-app .f-col-1721369102VePjJ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213691023bZ60 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102GhHua {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-17213691023FqSb {letter-spacing: 0px; opacity: 1; text-align: left;}
.f-app .f-custom-code-1721369102dEAcJ {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-1721369102399nG {letter-spacing: 0px; opacity: 1; text-align: right;}
.f-app .f-col-1721369102r414U {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102kwD4Y {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102wgabY {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721369102ApEGV {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721369102thpWf {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-17213691027vUeW {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721369102bwm5S {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102wZBzJ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102mAJfG {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102HAzOv {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-17213691021IHvs {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721369102eHwm9 {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721369102dHVAN {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721369102mEWkL {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-col-1721369102sU6EG {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102hWwrt {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-17213691024LOmM {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721369102fIL0G {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721369102CyfSW {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721369102uI2Mm {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-1721369102Atswh {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102s7HjY {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213691027filh {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102Q6vHq {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102x04kP {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-1721369102UWn3w {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-17213691026VMQt {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102dZY7F {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-17213691022fZBQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213691026x0YV {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102ajsIS {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102AuAFS {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102UUDNb {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102Km9YK {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102kT9Cn {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102oL8Lr {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102dEFES {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102o3zkL {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102pNCYq {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102sB6WB {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102BNTn6 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102SZCDO {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-1721369102eb0Rf {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1721369102kHt0v {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102owz8U {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102iqQwn {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102NgilF {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102Vth5U {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213691026VWHA {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102QvFdb {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102SlA1Q {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102EatUw {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102EKFU9 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102YxbTU {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102pmz7N {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102O6KoT {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-1721369102LqcfC {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-17213691022ybll {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102whi4R {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102ZiE0Q {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102aIXMf {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102UTMJ1 {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102KtbCS {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102eN1dJ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102f4ay8 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-1721369102luUob {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721369102Xe6yl {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721369102PGpSi {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721369102rQ8KR {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-1721369102rUJQ2 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102aooW4 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721369102v6m5M {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102Ka6HY {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-17213691020u5l1 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-1721369102NnmJi {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1721369102YKxQW {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102AImLR {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213691029iENH {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-172136910238mHY {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102XZZpk {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102Z2sDw {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721369102ZxOSZ {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102bLt5A {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-172136910295sDd {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-1721369102st4F9 {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1721369102Vm9Go {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102P7sgR {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102SA5uh {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102zTpZt {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213691029bxcw {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102cWQ6S {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721369102Qi4KO {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102TAJyC {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-17213691026eagm {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-17213691024lU2E {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-17213691025EsNC {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102paujY {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102LP3qw {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213691025lkhv {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102Iot1h {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102ceHbk {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-172136910220rxe {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-17213691029iO3h {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721369102COMl0 {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721369102wNkZa {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721369102EA6am {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-1721369102U9VFS {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213691021QTMS {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102JBO9x {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-1721369102SeASD {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1721369102kUDLn {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721369102rgB6K {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-comparison-block-17213691026qBSw {letter-spacing: 0px; opacity: 1; width: 100%; font-family: BrownProTT-Regular-1707112782cX7wj; font-size: 20px; line-height: 20px; color: var(--f-gs-background-1);}
.f-app .f-col-1721369102lpUrx {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102zcqVT {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-block-1721369102dSXYT {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1721369102tNyUb {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-17213691024v1ST {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-comparison-block-1721369102cx1kO {letter-spacing: 0px; opacity: 1; width: 100%; font-family: BrownProTT-Regular-1707112782cX7wj; font-size: 20px; line-height: 20px; color: var(--f-gs-background-1);}
.f-app .f-col-17213691028IRhI {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721369102B45p3 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102xErCZ {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721369102cFJlp {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-icon-1721369102Xh51W {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721369102cpelL {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102nnnO1 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102LJkNG {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102pmGeA {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-image-1721369102sq06j {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721369102QG2n3 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721369102MgZsP {opacity: 1; color: var(--f-gs-accent-2);}
.f-app .f-richtext-17213691028QCsB {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102j51P2 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721369102q0oVa {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721369102m2hFP {opacity: 1; color: var(--f-gs-accent-2);}
.f-app .f-richtext-1721369102XYYTB {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102JJxEG {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721369102Fu3YK {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721369102X7ATZ {opacity: 1; color: var(--f-gs-accent-2);}
.f-app .f-richtext-1721369102oBqtP {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102RdliA {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721369102ndv1G {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721369102P0b6N {opacity: 1; color: var(--f-gs-accent-2);}
.f-app .f-richtext-1721369102lAuDh {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213691028eRM0 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213691027vXMu {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-17213691027im1I {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721369102bZj2x {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721369102zSEV3 {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721369102Yceef {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-17213691028KHha {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213691022x5m4 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-17213691023NMoE {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102gjL5R {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102B0fWj {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-image-1721369102cOV08 {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102LTQ7c {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102Ebu62 {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102XGwSQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102gfsvw {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102CMt96 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102fjKJ3 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721369102RYiAH {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-image-1721369102wHX0d {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102MYTBH {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102dSHfu {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102WdH9N {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721369102SlrBs {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213691022QLkP {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102IaVRO {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102tQhlO {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721369102GZoVQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-172136910250Dg7 {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721369102bHOaD {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-1721369102sNA1C {letter-spacing: 0px; opacity: 1; text-align: right;}