
.f-app .f-hero-1727065931WLtkm {text-align: left; border-radius: 0px; letter-spacing: 0px; opacity: 1; margin-top: 60px;}.f-app .f-hero-1727065931WLtkm .f\:hero__content--boxed {background-color: rgb(255, 255, 255);}
.f-app .f-text-section-1723607123vpet0 {text-align: center; letter-spacing: 0px; opacity: 1; margin: 0px; padding: 8% 4% 0px;}
.f-app .f-custom-section-1723606250wuIF8 {letter-spacing: 0px; opacity: 1; padding: 0px 4%;}
.f-app .f-text-section-1723607345F1zcq {text-align: center; letter-spacing: 0px; opacity: 1; margin: 0px; padding: 0px 4%;}
.f-app .f-custom-section-1723607817NiQYO {letter-spacing: 0px; opacity: 1; padding: 0px 4%;}
.f-app .f-richtext-1727065931QOKlY {color: rgb(255, 255, 255); letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-bottom: 20px;}@media screen and (max-width: 767px) {.f-app .f-richtext-1727065931QOKlY {color: rgb(34, 34, 34); margin-bottom: 0px;}}
.f-app .f-heading-1727065931eLjip {color: rgb(255, 255, 255); margin-top: 0px; letter-spacing: 0px; opacity: 1; font-family: BrownProTT-Bold-17071127825LR9n;}@media screen and (min-width: 1024px) and (max-width: 1279px) {.f-app .f-heading-1727065931eLjip {font-size: 40px; line-height: 58px;}}@media screen and (min-width: 768px) and (max-width: 1023px) {.f-app .f-heading-1727065931eLjip {font-size: 36px; line-height: 48px;}}@media screen and (max-width: 767px) {.f-app .f-heading-1727065931eLjip {color: rgb(34, 34, 34); font-size: 28px; line-height: 40px; margin-bottom: 0px;}}
.f-app .f-grid-1723607123yWgUP {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-1723607123IAP7U {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-17236071238O1rr {letter-spacing: 0px; opacity: 1; text-transform: uppercase; font-family: BrownProTT-Regular-1707112782cX7wj; line-height: 120%;}
.f-app .f-grid-1723606250JC236 {gap: 100px; letter-spacing: 0px; opacity: 1;}@media screen and (max-width: 767px) {.f-app .f-grid-1723606250JC236 {gap: 30px;}}
.f-app .f-col-1723606250KCBlf {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1723607740a9Si9 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1723607740VPbDK {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17236077405NZsG {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1723606341VvwAo {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-image-17236063536zEyL {letter-spacing: 0px; opacity: 1; border-color: rgb(27, 43, 39); border-width: 1px; border-style: solid; border-radius: 100%; overflow: hidden;}
.f-app .f-heading-1723606358UXYF2 {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1723606362JORmG {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1723607740B7nOq {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-image-1723607740hUwod {letter-spacing: 0px; opacity: 1; border-color: rgb(27, 43, 39); border-width: 1px; border-style: solid; border-radius: 100%; overflow: hidden;}
.f-app .f-heading-1723607740MGnWj {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1723607740bHKV0 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1723607740poloD {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-image-1723607740fgoKw {letter-spacing: 0px; opacity: 1; border-color: rgb(27, 43, 39); border-width: 1px; border-style: solid; border-radius: 100%; overflow: hidden;}
.f-app .f-heading-1723607740gwpde {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1723607740Ehk80 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1723607740nFB3H {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-image-1723607740d0FWA {letter-spacing: 0px; opacity: 1; border-color: rgb(27, 43, 39); border-width: 1px; border-style: solid; border-radius: 100%; overflow: hidden;}
.f-app .f-heading-1723607740Ii5dm {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1723607740uC6aR {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1723607345P6UD5 {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-col-1723607345M3z5j {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1723607345C1dxA {letter-spacing: 0px; opacity: 1; text-transform: uppercase; font-family: BrownProTT-Regular-1707112782cX7wj; line-height: 120%;}
.f-app .f-grid-1723607817P0Wbc {gap: 100px; letter-spacing: 0px; opacity: 1;}@media screen and (max-width: 767px) {.f-app .f-grid-1723607817P0Wbc {gap: 30px;}}
.f-app .f-col-1723607817tvmE3 {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17236078177vtPc {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17236078173uVj5 {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-image-1723607817MEwiD {letter-spacing: 0px; opacity: 1; border-color: rgb(27, 43, 39); border-width: 1px; border-style: solid; border-radius: 100%; overflow: hidden;}
.f-app .f-heading-1723607817NPBoV {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1723607817fUKKM {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17236078170aad0 {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-image-1723607817yUhgg {letter-spacing: 0px; opacity: 1; border-color: rgb(27, 43, 39); border-width: 1px; border-style: solid; border-radius: 100%; overflow: hidden;}
.f-app .f-heading-1723607817tR3vq {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1723607817vZqbG {letter-spacing: 0px; opacity: 1;}