
.f-app .f-scrolling-promotion-1729479858Suy5D {padding-top: 40px; padding-bottom: 40px; font-family: Jost; font-weight: 400; letter-spacing: 0px; opacity: 1; margin: 0px;}
.f-app .f-image-1729479863wEorW {letter-spacing: 0px; opacity: 1; margin: 30px;}
.f-app .f-image-17294799262NlG4 {letter-spacing: 0px; opacity: 1; margin: 30px; height: 18.1944px; width: 100px;}
.f-app .f-image-1729479926xyPjH {letter-spacing: 0px; opacity: 1; margin: 30px;}
.f-app .f-image-1729479927zc5UD {letter-spacing: 0px; opacity: 1; margin: 30px;}
.f-app .f-image-1729479927PPqgd {letter-spacing: 0px; opacity: 1; margin: 30px; height: 29.4444px; width: 100px;}