
.f-app .f-custom-section-17213800502ycSp {letter-spacing: 0px; opacity: 1; margin: 0px; padding: 4% 4% 0px;}
.f-app .f-content-tabs-1721380050CF3Ua {letter-spacing: 0px; margin: 0px 4% 8%;}.f-app .f-content-tabs-1721380050CF3Ua .f\:tabs__button {font-family: BrownProTT-Regular-1707112782cX7wj; font-size: 12px;}@media screen and (max-width: 767px) {.f-app .f-content-tabs-1721380050CF3Ua {margin: 0% 0px 0px;}}
.f-app .f-grid-1721380050NwfMe {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1721380050TAoaN {gap: 30px; letter-spacing: 0px; opacity: 1; margin: 2%;}
.f-app .f-col-1721380050pBLME {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: space-between; display: flex;}
.f-app .f-col-1721380050xGljH {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-end; justify-content: flex-start; display: flex; row-gap: 0px;}@media screen and (max-width: 767px) {.f-app .f-col-1721380050xGljH {flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex;}}
.f-app .f-richtext-172138005017Api {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1721380050rf9mT {letter-spacing: 0px; opacity: 1; font-family: BrownProTT-Bold-17071127825LR9n;}
.f-app .f-image-17213800503g8Jc {letter-spacing: 0px; opacity: 1; width: 40px; height: 40.125px;}
.f-app .f-image-1721380050iE7Lk {letter-spacing: 0px; opacity: 0; width: 40px; height: 40.125px;}
.f-app .f-richtext-1721380050xODwx {letter-spacing: 0px; opacity: 1; text-align: right;}@media screen and (max-width: 767px) {.f-app .f-richtext-1721380050xODwx {text-align: left;}}
.f-app .f-col-1721380050UlrYU {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex; column-gap: 20px;}
.f-app .f-button-1721380050cQvQq {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-17213800502BbNq {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-17213800501WGvu {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721380050zU5ap {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721381487SiK5v {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721381488sVVci {letter-spacing: 0px; opacity: 1;}
.f-app .f-content-tab-1721380050x5WI1 {letter-spacing: 0px; opacity: 1;}
.f-app .f-content-tab-1721380050n547v {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-17213800509OUjj {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-17213800509OUjj {gap: 0px;}}
.f-app .f-grid-1721380050vREUx {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 4% 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050vREUx {gap: 0px;}}
.f-app .f-custom-code-17213800505S884 {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721380050Vc4Oa {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 4% 93px 4% 8%;}
.f-app .f-grid-1721380050crBcy {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8% 8% 0%; margin: 0% 8% 0px; background-color: rgba(242, 229, 217, 0.25);}
.f-app .f-grid-1721380050IaTPz {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 4% 8%; margin: 0% 8% 0px; background-color: rgba(242, 229, 217, 0.25);}
.f-app .f-grid-172138005094nDT {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 0% 8% 8%; margin: 0% 8% 0px; background-color: rgba(242, 229, 217, 0.25);}
.f-app .f-grid-1721380050F49yl {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050F49yl {gap: 0px;}}
.f-app .f-col-1721380050r65gA {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050x41NM {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050F4Eu5 {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721380050vbbIO {letter-spacing: 0px; opacity: 1; text-align: left;}
.f-app .f-custom-code-1721380050gcUxR {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-17213800508qpsY {letter-spacing: 0px; opacity: 1; text-align: right;}
.f-app .f-col-1721380050iqLHZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213800502hlSy {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050hXLWd {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721380050eTZMy {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-17213800503Tlr3 {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721380050EnoWu {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721380050XCa1I {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721380050kr7Fb {letter-spacing: 0px; opacity: 1; padding-bottom: 0px;}
.f-app .f-col-1721380050wlsx9 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050QRgZg {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; row-gap: 20px;}
.f-app .f-heading-17213800509zJW0 {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-bottom: 30px; margin-top: 0px;}
.f-app .f-richtext-1721380050z3qaD {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-1721380050mG62L {letter-spacing: 0px; opacity: 1; margin-bottom: 10px;}
.f-app .f-block-1721380050PC2Cv {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: flex-start; display: flex; column-gap: 20px;}
.f-app .f-block-1721380050HiK3g {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: flex-start; display: flex; column-gap: 20px;}
.f-app .f-block-17213800504BqIW {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: flex-start; display: flex; column-gap: 20px;}
.f-app .f-icon-1721380050pfRRS {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-richtext-1721380050hJQNk {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-icon-1721380050BoKL0 {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-richtext-1721380050aQNLR {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-icon-1721380050SmypR {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-richtext-1721380050SRGP0 {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-col-1721380050iGwp0 {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050c3gB4 {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050GBAx0 {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-17213800501FeK3 {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050hKjBW {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050dp2JK {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-block-1721380050uhWwo {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050SMIWl {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050l5NQU {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050XVW4v {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050aLQZP {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050fd8OL {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050D1c8U {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800502WvrD {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050aDAFx {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050KYBu5 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800509LPg9 {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050D52dA {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050QrVgM {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050WIgkf {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050QLNX3 {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050jqiPj {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050jmXeX {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050IqHJn {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050V90Is {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050FDQXw {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050JancG {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050KXBBb {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050JiJ6F {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050kmFYC {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800506QEYw {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050jtjOd {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050Lw1JA {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050ebvgE {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050MqIs8 {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-17213800502IJVx {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050uHlHc {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050ewCeh {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050I1MXE {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050ZEWK4 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050rWX0y {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050CboIz {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050klOIl {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050dJPvN {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050aGUTj {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-17213800503ZJgc {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050ow6tM {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050uvGvU {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050i3B8i {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050DczGQ {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050tpSXX {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050LVRpp {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050uevbh {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050rDNAW {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-block-1721380050vQpXP {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px; background-position: center center;}
.f-app .f-block-17213800506QotE {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050SKNMM {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050tNm7Y {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex; column-gap: 10px;}
.f-app .f-image-1721380050SFr2V {letter-spacing: 0px; opacity: 1; background-size: contain; width: 50%;}
.f-app .f-richtext-1721380050McBsL {letter-spacing: 0px; opacity: 1; text-align: left; font-size: 0.8vw; line-height: 16px; font-family: BrownProTT-Light-1707112782qBKR9;}
.f-app .f-icon-1721380050Qkmq7 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050tHlr6 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050opScp {background-position: center center; letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050WO6im {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050pBuO6 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800507pEGz {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050dLObO {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050QeXTM {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-17213800505zM7O {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800504NXbq {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050b7kpb {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050yER2E {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050d4ZWZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050SiZUR {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-heading-1721380050p8m91 {letter-spacing: 0px; opacity: 1; font-size: 0.8vw; line-height: 16px; font-family: BrownProTT-Regular-1707112782cX7wj;}
.f-app .f-icon-1721380050xHTnY {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050aDA9D {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050TXOtb {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px; padding: 10% 30%; background-image: url("https://cdn.shopify.com/s/files/1/0619/6150/2869/files/Asset_34_eb6957cc-61a2-4727-a69c-4d29c2e811bf.png?v=1715150956");}
.f-app .f-block-1721380050OsRlC {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-17213800500DNVQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050kg0qp {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050EuVIX {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050M7Biw {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050tjwVb {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050Snbxo {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px; padding: 10% 30%; background-image: url("https://cdn.shopify.com/s/files/1/0619/6150/2869/files/Asset_35_f5855ae0-61d5-46e5-a413-a614178962a1.png?v=1715151054");}
.f-app .f-block-17213800501ouDE {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050sUJOC {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050LVtGi {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-17213800504iQnr {letter-spacing: 0px; opacity: 0; background-size: contain;}
.f-app .f-icon-1721380050hPGGm {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050SG3Sg {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050iH86T {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px; padding: 10% 30%; background-image: url("https://cdn.shopify.com/s/files/1/0619/6150/2869/files/Asset_36_3685bd7c-0bcb-46aa-96d2-d8130a2ddb76.png?v=1715151127"); background-position: center center;}
.f-app .f-block-1721380050hKskO {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-17213800501l6rQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050c1Rsr {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050hz9Na {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050sNGLV {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050w6ZtW {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050ZDSsq {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-17213800501pgXQ {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050H1yhE {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050oumrY {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050o3LVt {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050pfVFQ {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050tVeO4 {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-col-1721380050pS3Yz {letter-spacing: 0px; opacity: 1; background-repeat: repeat; background-size: contain; padding: 20px;}
.f-app .f-block-1721380050MVdX4 {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-17213800502p5sz {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050IE5sz {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050Tcb1c {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050pgVcA {letter-spacing: 0px; opacity: 1; background-size: contain; rotate: -10deg;}
.f-app .f-icon-1721380050lj2oW {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050xxAaj {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050Oh7Tk {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050Rrj8a {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050vwEE6 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050RBEWm {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050VTIqO {letter-spacing: 0px; opacity: 1; background-size: contain; filter: drop-shadow(black 1px 1px 2px);}
.f-app .f-icon-1721380050Adq86 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050H5K3E {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050sHqlz {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050iNNkx {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050croir {letter-spacing: 0px; opacity: 1; border-style: solid; border-color: var(--f-gs-accent-1); border-width: 2px; padding: 4%;}
.f-app .f-block-1721380050ShFpy {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050XscCd {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050Ce2R4 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050tPqSf {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050yYDj6 {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050VbUOb {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-172138005009shV {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050jlu99 {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-17213800503U2Pk {letter-spacing: 0px; opacity: 1; background-size: contain; border-style: solid; border-color: var(--f-gs-accent-1); border-width: 0px 0px 2px;}
.f-app .f-icon-1721380050qhDPg {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050zYGke {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050AOfha {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-17213800507R654 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050RwTvX {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050C8Sjl {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050w38Vf {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-image-1721380050nvppC {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-image-1721380050EA43V {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050Bsnmj {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050KrsZR {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050fwh65 {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-172138005099aU8 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050i70Si {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050Scjl0 {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050fkvGO {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050xuHni {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050GOa13 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050bVwed {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050UpeCh {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050PJfbO {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050AdshD {letter-spacing: 0px; opacity: 1; flex-direction: row; align-items: center; justify-content: center; display: flex;}
.f-app .f-image-1721380050IdRcV {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-1721380050BlBmb {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-17213800506gw8t {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050JcoPp {letter-spacing: 0px; opacity: 1; background-size: cover; text-align: center; margin-bottom: 30px;}
.f-app .f-block-1721380050dkIUq {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; gap: 10px 20px;}
.f-app .f-block-1721380050W2xmr {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050gXzZs {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex; row-gap: 20px;}
.f-app .f-image-1721380050I6C6A {letter-spacing: 0px; opacity: 1; background-size: contain; width: 25%;}
.f-app .f-image-17213800502D8Qo {letter-spacing: 0px; opacity: 1; background-size: contain;}
.f-app .f-icon-17213800502k0Vc {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050EfgDm {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050gsBxQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050EKuVO {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213800508jNoM {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721380050fIooE {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721380050nLgVc {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-1721380050HrPAe {letter-spacing: 0px; opacity: 1; text-align: right;}
.f-app .f-grid-1721380050xOirF {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050xOirF {gap: 0px;}}
.f-app .f-grid-1721380050MXJhA {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050MXJhA {gap: 0px;}}
.f-app .f-grid-1721380050xkhdG {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 4% 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050xkhdG {gap: 10px;}}
.f-app .f-custom-code-1721380050PIoah {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721380050tAXIR {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050tAXIR {gap: 0px;}}
.f-app .f-grid-1721380050we0M7 {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050we0M7 {gap: 0px;}}
.f-app .f-grid-1721380050CqTNT {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-custom-code-1721380050BYuXY {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721380050G4ky4 {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050G4ky4 {gap: 0px;}}
.f-app .f-grid-1721380050omaac {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050omaac {gap: 0px;}}
.f-app .f-grid-1721380050Dxcmo {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-custom-code-1721380050iEKpD {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-17213800500gm9d {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-17213800500gm9d {gap: 0px;}}
.f-app .f-grid-1721380050lb2hD {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050lb2hD {gap: 0px;}}
.f-app .f-grid-1721380050v2vJe {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-custom-code-1721380050UdwYq {letter-spacing: 0px; opacity: 1; gap: 20px; padding: 4% 8%;}
.f-app .f-grid-1721380050IoVK7 {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050IoVK7 {gap: 0px;}}
.f-app .f-grid-1721380050ebdfI {letter-spacing: 0px; opacity: 1; gap: 30px; padding: 67px 8% 4%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050ebdfI {gap: 0px;}}
.f-app .f-grid-1721380050A5aet {gap: 30px; letter-spacing: 0px; opacity: 1; padding: 2% 8%;}
.f-app .f-grid-1721380050VoAFO {letter-spacing: 0px; opacity: 1; gap: 100px; padding: 8%;}@media screen and (max-width: 767px) {.f-app .f-grid-1721380050VoAFO {gap: 0px;}}
.f-app .f-col-1721380050VNLSN {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050GxlrL {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050pEacQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721380050hSAfw {letter-spacing: 0px; opacity: 1; text-align: left;}
.f-app .f-custom-code-1721380050cHzw3 {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-1721380050RTV1W {letter-spacing: 0px; opacity: 1; text-align: right;}
.f-app .f-col-1721380050DK5qu {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050tN3dy {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050Ter92 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721380050Yo3Zz {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721380050g9J4H {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721380050U6LF6 {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721380050hmhCH {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050Qgxtn {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050KRh2K {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050ETD5V {letter-spacing: 0px; opacity: 1;}
.f-app .f-button-1721380050Zy2qM {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721380050oDrtL {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721380050wyeXh {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-button-1721380050ESSsY {letter-spacing: 0px; opacity: 1; width: 100%; flex-direction: row; align-items: center; justify-content: flex-start; display: flex;}
.f-app .f-col-1721380050dXDOs {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050oHLuc {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-1721380050iDMzw {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721380050m5WlV {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721380050hQdTO {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721380050jXFZl {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-17213800509jjSR {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050YE9Gy {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721380050U69dm {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050C3bsj {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-17213800502nqKb {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-icon-1721380050Li8LB {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721380050EDcvj {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050Kxywf {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050mAJxY {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050ZRxDy {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050Wn3mL {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050ikVnc {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050AOt0n {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050FvSMR {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050PGARK {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050LtccN {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050WL7V0 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-17213800505bQYq {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-image-1721380050Zxurj {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050jOGBs {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050bcQgM {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050q8cAi {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050fT61t {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050R6nfE {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050oSKP5 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050Q7JVY {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213800502700G {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050wN4Tg {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050PRVxJ {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050oaPvS {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050O6RzU {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050H7rZE {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050HWznG {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050TyUEw {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050BVM0W {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050b5fPT {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050IzgWX {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050dstS1 {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050bSAYW {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050jh0ec {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050bcry5 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050Lt8kD {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050eFN91 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050r6isS {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050PyGRZ {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050GnVZD {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050xeyha {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050DeR0A {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050NR5R4 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050S7K3n {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050aU2Nr {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050n4jQO {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050qd2X9 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050in4Fh {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213800503OVoh {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050KuMVV {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050wWS2i {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050EElNr {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050ziDoV {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800508ffJi {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050gZFYx {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-17213800505rnjv {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050HjDeC {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050OO7iV {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050mPGZc {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050qnC8R {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-17213800500JTIw {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050NKHgR {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-1721380050ZWyXU {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721380050bgOkV {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721380050j9FBM {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721380050ToWta {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-1721380050FaszU {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050btl4R {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721380050b7BDw {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050BFA1s {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721380050XZ5af {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-icon-1721380050l0SDZ {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721380050aakFp {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-172138005031YUw {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050wU9O0 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050HsXnF {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-17213800500m087 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050FSgeG {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050m1CMh {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-17213800500QKYa {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-image-17213800504ghRx {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050znxoX {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050osYCr {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050kA52i {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213800507T1Es {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050mARdC {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-17213800502mJkC {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050pbHz4 {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050ZJa04 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050tgmCP {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050FSXDX {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050ZhS2X {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050FJBwc {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800501gQoe {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050fbi1e {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050eEjbX {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050GCLjY {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050PjDzY {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050BrKmr {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050VFipy {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050ee2Nf {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050sH6Hh {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050vDBgW {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050Mugva {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-17213800501W7k4 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050tER1c {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050hojW7 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050w6GGZ {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050eNaCE {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050ryLmb {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050XAj7b {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-17213800501JKFg {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050faA1J {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050u6mhB {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-1721380050JBbJB {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721380050infd7 {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721380050NJseN {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721380050ZcB6Y {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-1721380050DJN6L {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050mHbIx {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721380050VDBVA {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050WqcoP {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-17213800508SeF4 {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-icon-1721380050iUZgu {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721380050RqDBM {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050Rufaa {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050H3yGW {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-17213800500fflq {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-image-1721380050MC5tp {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050IyPn5 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050Ng3w7 {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050idktW {letter-spacing: 0px; opacity: 1; padding-top: 0px;}
.f-app .f-image-1721380050cEaPB {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050Rnqnd {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050DY35h {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050KYSZI {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050rUs7B {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050D8Oi1 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050kNlBR {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050FnGPg {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050UltXq {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050JQoMy {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050xXhoi {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050L8NQr {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050LNAzp {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050vvBAF {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-col-1721380050pVdii {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-heading-1721380050hJf3o {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-richtext-1721380050waVNd {letter-spacing: 0px; opacity: 1;}
.f-app .f-icon-1721380050OkITv {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-list-items-1721380050eac0y {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050pp3it {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: flex-start; justify-content: center; display: flex;}
.f-app .f-col-1721380050v3BUz {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050ZDpKe {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;}
.f-app .f-heading-1721380050PGc3G {letter-spacing: 0px; opacity: 1; text-transform: uppercase;}
.f-app .f-icon-1721380050oRehl {opacity: 1; color: rgb(0, 0, 0);}
.f-app .f-col-1721380050WiNXZ {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050zB8d9 {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050v2NXC {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-col-1721380050Eoq1U {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; row-gap: 30px;}
.f-app .f-image-1721380050wxD8H {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17213800505OhZH {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-17213800501cRqz {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050HpNZh {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050gb6fD {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050YCf3R {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050Tfgze {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050k9hEs {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050K3HVj {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050bmOIw {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050UNZIS {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050o7v6n {letter-spacing: 0px; opacity: 1;}
.f-app .f-image-1721380050b4fJf {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1721380050UyXxC {letter-spacing: 0px; opacity: 1; flex-direction: column; align-items: center; justify-content: flex-start; display: flex; gap: 10px 0px;}
.f-app .f-icon-1721380050Qzzlg {opacity: 1; color: rgb(255, 102, 102);}
.f-app .f-richtext-1721380050QQ93p {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050Swegg {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050iyqsH {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1721380050K2X0l {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721380050opAFE {letter-spacing: 0px; opacity: 1;}
.f-app .f-custom-code-1721380050iVGHt {letter-spacing: 0px; opacity: 1; text-align: center;}
.f-app .f-custom-code-1721380050DlPeC {letter-spacing: 0px; opacity: 1; text-align: right;}