
.f-app .f-custom-section-1729752918csEbv {letter-spacing: 0px; opacity: 1;}@media screen and (min-width: 768px) and (max-width: 1023px) {.f-app .f-custom-section-1729752918csEbv {margin-left: 60px; margin-right: 60px;}}@media screen and (max-width: 767px) {.f-app .f-custom-section-1729752918csEbv {margin-left: 20px; margin-right: 20px;}}
.f-app .f-custom-section-1727647904zMsBC {letter-spacing: 0px; opacity: 1; margin: 60px;}@media screen and (max-width: 767px) {.f-app .f-custom-section-1727647904zMsBC {margin: 0px 20px 100px; text-align: left;}}
.f-app .f-grid-1729752918JQHLa {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1729752918W0Vge {letter-spacing: 0px; opacity: 1;}
.f-app .f-richtext-17297529466zhmk {letter-spacing: 0px; opacity: 1; font-family: BrownProTT-Regular-1727120506tyzO0;}
.f-app .f-heading-1729752949O7DHq {letter-spacing: 0px; opacity: 1; margin-top: 20px; margin-bottom: 20px; font-family: BrownProTT-Bold-1727120506qfraO;}@media screen and (min-width: 1024px) and (max-width: 1279px) {.f-app .f-heading-1729752949O7DHq {font-size: 36px; line-height: 36px;}}@media screen and (min-width: 768px) and (max-width: 1023px) {.f-app .f-heading-1729752949O7DHq {font-size: 36px; line-height: 36px;}}@media screen and (max-width: 767px) {.f-app .f-heading-1729752949O7DHq {font-size: 36px; line-height: 36px;}}
.f-app .f-richtext-1729752954kkdwt {letter-spacing: 0px; opacity: 1;}
.f-app .f-grid-1727647904n0IeH {gap: 30px; letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1727647904fhIMr {letter-spacing: 0px; opacity: 1;}
.f-app .f-col-1727648897Ky1Qn {letter-spacing: 0px; opacity: 1; padding-top: 0px;}
.f-app .f-col-1727648930ARQXN {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-17276685416n3Ly {letter-spacing: 0px; opacity: 1; margin-bottom: 60px;}
.f-app .f-block-1727668649g5tyC {letter-spacing: 0px; opacity: 1;}
.f-app .f-heading-1727668545Asmjr {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin: 0px 0px 30px; font-family: BrownProTT-Bold-1728485728RFfmA;}
.f-app .f-block-17276685493pZj2 {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1727668601PrxdR {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668759SBb30 {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-heading-17276686058unay {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668608MuLS3 {letter-spacing: 0px; opacity: 1; margin-top: 0px; font-family: BrownProTT-Regular-1728485728u0odV;}
.f-app .f-heading-17276687591u484 {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668759bjD9t {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668649Ae0Cm {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin: 0px 0px 30px;}
.f-app .f-block-1727668649ZglmU {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1727668649AxF2P {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-heading-1727668649Na6bi {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668649ORtbN {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727648897fnW7k {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin: 0px 0px 30px; font-family: BrownProTT-Bold-17071127825LR9n;}
.f-app .f-block-1727648897u6HNG {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1727648897v9nO8 {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-17276682404YzWf {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727648897egRfj {letter-spacing: 0px; opacity: 1; padding: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; column-gap: 30px;}
.f-app .f-block-1727649236JONlP {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668260t1C99 {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727649247dEtzm {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727649967VhNg0 {letter-spacing: 0px; opacity: 1; padding: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; display: flex; column-gap: 30px;}
.f-app .f-block-1727649250TV8B4 {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-heading-1727648897rGDEe {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727648897Jvvu5 {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668240aKhn8 {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668240WdXts {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-block-1727649441vc6vZ {letter-spacing: 0px; opacity: 1; padding: 10px; width: 100%;}
.f-app .f-block-1727649518hXXXx {letter-spacing: 0px; opacity: 1; padding: 10px; width: 100%;}
.f-app .f-heading-1727649449VQsm4 {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727649452jyGXU {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-17276495181HTZ8 {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px; font-family: "Noto Sans JP"; font-weight: 400;}
.f-app .f-richtext-1727649518ycerh {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727649236MutGv {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727649236GNCKg {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668260cXryi {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-172766826017blh {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-17276492475ILWX {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727649247wozmN {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-block-1727649967wJAvo {letter-spacing: 0px; opacity: 1; padding: 10px; width: 100%;}
.f-app .f-block-1727649967pL6U1 {letter-spacing: 0px; opacity: 1; padding: 10px; width: 100%;}
.f-app .f-heading-1727649967hX4vo {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727649967XxjuP {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-17276499671C6al {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px; font-family: "Noto Sans JP"; font-weight: 400;}
.f-app .f-richtext-1727649967i13I1 {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727649250fxs3w {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727649250OeqYo {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727648930mGYYO {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin: 0px 0px 30px;}
.f-app .f-block-1727648930FOIfl {letter-spacing: 0px; opacity: 1;}
.f-app .f-block-1727648930g9xkp {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727648930xI2nR {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668281ozcN1 {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668282XaTsu {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668285wYcFs {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668286jmqGT {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668287MjlQj {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-17276682883Xrae {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668289lSpOZ {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668291vx9aR {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668292OGjVd {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668293d4Stq {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-block-1727668299e9Wqz {letter-spacing: 0px; opacity: 1; padding: 10px;}
.f-app .f-heading-1727648930tRM8A {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px; padding-top: 0px;}
.f-app .f-richtext-1727648930Lha1k {letter-spacing: 0px; opacity: 1; margin-top: 0px; font-family: BrownProTT-Regular-1707112782cX7wj;}
.f-app .f-heading-1727648930fE4je {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727648930aIyn4 {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668281bnctz {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668281lKFEv {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668282TpeBv {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668282gmUX7 {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668285Yo2Gm {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668285QLvQX {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668286eXvwn {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-17276682860ZuQH {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668287nnyth {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668287YDzaf {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668288BgRrC {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668288ksIHA {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668289W5z9z {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668289iMH3c {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668291TZAVO {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668291sxBPk {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-17276682929Nzo8 {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668292njimW {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668293YjL3a {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-1727668293opGS2 {letter-spacing: 0px; opacity: 1; margin-top: 0px;}
.f-app .f-heading-1727668299D40cz {letter-spacing: 0px; opacity: 1; text-transform: uppercase; margin-top: 0px; margin-bottom: 6px;}
.f-app .f-richtext-172766829947AnS {letter-spacing: 0px; opacity: 1; margin-top: 0px;}