
.f-app .f-1707112327lwqcU {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327bapaY {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-1707112327nm3Es {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327RfFIC {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327w7Gyw {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327HvVYu {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327HPoSF {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327Md07Z {letter-spacing: 0px; opacity: 1;}
.f-app .f-17071123278NrV8 {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327tkhmc {letter-spacing: 0px; opacity: 1;}
.f-app .f-17071123273TtCy {letter-spacing: 0px; opacity: 1;}
.f-app .f-1707112327SURRn {letter-spacing: 0px; opacity: 1;}